.canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99999;
}

.fullScreenIcon {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.4;
}

.mugisusComComtainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #3a3935;
  margin: 0.2rem 0.2rem 0 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  animation: fadein 2s ease-out 1s both;
}

.mugisusComArrow {
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 0;
}

.mugisusComTitle {
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}